name: (Re)Publish Incorrect Images
on:
  workflow_dispatch:

env:
  IMAGE_REPO: ${{ github.repository }}

jobs:
  image-build:
    permissions:
      contents: read
      id-token: write # this is important, it's how we authenticate with Vault
    name: Build and push Image(s)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ${{fromJSON('["v1.30.0","v1.29.4","v1.28.9","v1.27.13"]')}}
    steps:
      - name: Check out repository code
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0
      - name: "Read some Secrets"
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD
      - name: Log in to the Container registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5.5.1
        with:
          images: ${{ env.IMAGE_REPO }}
      - name: Build and push
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        id: build-push
        with:
          context: .
          file: package/Dockerfile
          platforms: "linux/amd64,linux/arm64"
          push: true
          tags: ${{ env.IMAGE_REPO }}:${{ matrix.version }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            KUBERNETES_RELEASE=${{ matrix.version }}
      - name: Get CPU Arch hashes
        run: |
          docker manifest inspect ${{ env.IMAGE_REPO }}:${{ matrix.version }} | jq --raw-output '.manifests[]
            | select(.platform.architecture | IN("amd64", "arm64"))
            | "IMAGE_\(.platform.architecture | ascii_upcase)=\(.digest)"' >> "$GITHUB_ENV"
      - name: Tag CPU Arch Images
        run: |
          docker image pull ${{ env.IMAGE_REPO }}@${{ env.IMAGE_AMD64 }}
          docker tag ${{ env.IMAGE_REPO }}@${{ env.IMAGE_AMD64 }}  ${{ env.IMAGE_REPO }}:${{ matrix.version }}-amd64
          docker push ${{ env.IMAGE_REPO }}:${{ matrix.version }}-amd64
          docker image pull ${{ env.IMAGE_REPO }}@${{ env.IMAGE_ARM64 }}
          docker tag ${{ env.IMAGE_REPO }}@${{ env.IMAGE_ARM64 }}  ${{ env.IMAGE_REPO }}:${{ matrix.version }}-arm64
          docker push ${{ env.IMAGE_REPO }}:${{ matrix.version }}-arm64